[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose /opt/splash.{{ source_file.split(".")[-1] }}
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target